{{#if resource}}

<div class="content">
  {{#unless isEditing}}
  {{#if icon}}
  <div class="right floated mini ui image">
    {{#fa-stack size="lg" as |s|}}
    {{s.stack-2x "circle"}}
    {{s.stack-1x icon inverse=true}}
    {{/fa-stack}}
  </div>
  {{/if}}
  {{resource-display resource=resource layout=displayTemplate}}

  <div class="ui bottom attached button">
    <a href="#" {{action "change"}}>Change {{resourceName}}</a>
  </div>
  <div class="ui bottom attached button">
    <a href="#" {{action "edit"}}>Edit {{resourceName}}</a> 
  </div>
  {{else}}
  {{#resource-form-wrapper onCancel=(action "cancelEdit") onSave=(action "update")}}
    {{resource-form layout=editFormTemplate resource=resource}}
    {{/resource-form-wrapper}}
  {{/unless}}
</div>

{{else}}
{{#if isAdding}}

  {{#resource-form-wrapper onCancel=(action "cancelAdd") onSave=(action "create")}}
    {{resource-form layout=newTemplate resource=newResource}}
  {{/resource-form-wrapper}}
{{else}}
{{resource-search 
resource=resource
notFoundTemplate=notFoundTemplate
searchTemplate=searchTemplate
searchClass=searchClass}} 
  {{#if newTemplate}}
  or <a {{action "addNew"}} href="#">Add a new {{resourceName}}</a>
  {{/if}}
{{/if}}
{{/if}}
