{{#if resource}}

  {{#unless isEditing}}

  <div class="content">
    {{#if icon}}
    <div class="right floated mini ui image">
      {{#fa-stack size="lg" as |s|}}
      {{s.stack-2x "circle"}}
      {{s.stack-1x icon inverse=true}}
      {{/fa-stack}}
    </div>
    {{/if}}
    {{resource-display resource=resource layout=displayTemplate}}
  </div>
  <div class="extra content">
    {{#if isChangeAllowed}}
    <a href="#" class="left floated resource-card-change" {{action "change"}}>
      Change {{resourceName}}
    </a>
    {{/if}}
    {{#if isEditAllowed}}
    <a href="#" class="right floated resource-card-edit" {{action "edit"}}>
      Edit
    </a>
    {{/if}}
  </div>
  {{else}}
<div class="content">
  {{#resource-form-wrapper onCancel=(action "cancelEdit") onSave=(action "update") resource=resource as |changeset|}}
    {{resource-form layout=editFormTemplate resource=changeset}}
  {{/resource-form-wrapper}}
</div>
  {{/unless}}
{{else}}
{{#if isAdding}}
<div class="content">
  {{#resource-form-wrapper onCancel=(action "cancelAdd") onSave=(action "create") resource=newResource as |changeset|}}
    {{resource-form layout=newTemplate resource=changeset}}
  {{/resource-form-wrapper}}
</div>
{{else}}
<div class="content">
{{resource-search 
resource=resource
onOpenSearchResult=(action "openSearchResult")
notFoundTemplate=notFoundTemplate
searchTemplate=searchTemplate
searchClass=searchClass}} 
</div>
  {{#if newTemplate}}
  <div class="extra content">
    <a {{action "addNew"}} class="left floated resource-card-add" href="#">Add a new {{resourceName}}</a>
  </div>
  {{/if}}
{{/if}}
{{/if}}
